In [1]:
#Function programming languaage : Borrowed from c programming
#OOPs - C++
#Scripting feature - perl and shell scripting
#syntax - c and abc programing

In [2]:
#Where can we use python
#desktop application - calculator
#web application - django, flask, tkinter
#database applications
#Network applications
#games
#Data analytics and data science
#Machine learning
#AI
#Deep learning
#IOT applications

In [3]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9))

6 8 5 8 6 7 6
9 9 4 9 8 7 1
5 2 2 9 4 6 5
0 8 9 1 7 8 1
3 2 8 3 0 8 8
5 4 9 1 8 3 5
0 3 0 6 7 8 0
0 4 0 9 6 8 0
0 6 3 8 6 0 5
4 4 9 3 0 8 5

In [4]:
#Flabvours of python
#cpython
#jpython - jython
#IronPython - Csharpe and .Net
#Pype - performance improve the python programing in python virtual machine
#rubyPython - ruby
#anaconda python - big data (our focus)
#stackless - Python concurrency

In [5]:
#Python versions
# Python 1.0 - 1994
#Python 2.0 - 2000
#Python 3.0 - 2008
#Python 3.6.3 - 2016
#Python 3.8.2 - 2020

In [32]:
#Python identifiers
#aphabets (both upper and lower)
#digits (0 to 9)
#underscore_
#Python is K sensitive programming language
customer_name = 'karan'
money = 200
Money = 100

In [33]:
print(customer_name)
print(Money)
print (money)

karan
100
200

In [22]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [23]:
import keyword
len(keyword.kwlist)

35

In [25]:
Type of datatypes
#int
#float
#str
#bool

#complex
#byte
#bytearray
#range

#python collection datatypes
#list
#tuples
#sets
#frozenset
#dictionaries

#None

SyntaxError: invalid syntax (<ipython-input-25-077e1f69552a>, line 1)

In [26]:
range(1,10)

range(1, 10)

In [29]:
a =10
print(id(a))
b = 20
print(id(b))

140719164465840
140719164466160

In [34]:
0B1111
#this is binary number

15

In [35]:
#Octal
a = 777
print(a)

777

In [36]:
a = 0o777

In [37]:
a

511

In [38]:
# FLOAT
p = 89.79
p

89.79

In [40]:
#Complex
x = 10+2j
type(x)

complex

In [41]:
#Boolean
a = True
b = False
# True = 1
# False = 0

In [46]:
aa = 'karan Kumar'
print('''karan
kumar''')

karan
kumar

In [47]:
'''Karan kumar 'is' the "good" person'''

'Karan kumar \'is\' the "good" person'

In [52]:
k = 'KaranKumar'
k[1:6]

'aranK'

In [53]:
k = 'KaranKumar'
k[-1:-6]

''

In [54]:
k = 'KaranKumar'
k[-1:-6:-1]
#bt default is +1

'ramuK'

In [55]:
k = 'KaranKumar'
k[-6:-1:1]
#bt default is +1

'nKuma'

In [56]:
k = 'KaranKumar'
k[:-4]

'KaranK'

In [57]:
k = 'KaranKumar'
k[-4:]

'umar'

In [58]:
#python collection datatypes
#Lists
ages = [12,45,5,58,47,41,58,12,85,10]
len(ages)

10

In [59]:
ages[0]

12

In [60]:
ages[0:8]

[12, 45, 5, 58, 47, 41, 58, 12]

In [61]:
ages[0:11]
#n-1

[12, 45, 5, 58, 47, 41, 58, 12, 85, 10]

In [63]:
ages[0:11:-1]

[]

In [65]:
ages[-1:4:-1]

[10, 85, 12, 58, 41]

In [66]:
new_ages = ['A',12,'B',10,'C',15, True, False, 10.5]

In [67]:
print(new_ages)

['A', 12, 'B', 10, 'C', 15, True, False, 10.5]

In [68]:
type(new_ages[0])

str

In [69]:
type(new_ages[1])

int

In [70]:
type(new_ages[7])

bool

In [72]:
type(new_ages[8])

float

In [73]:
new_ages[0] = 'Karan'
new_ages

['Karan', 12, 'B', 10, 'C', 15, True, False, 10.5]

In [74]:
#Insertion order is preserved
#Duplicates are allowed
#all data types are allowed
#groable in nature
#values should be enclosed in the square brackets

In [75]:
new_ages

list

In [76]:
new_ages

['Karan', 12, 'B', 10, 'C', 15, True, False, 10.5]

In [77]:
new_ages.append('E')
#Use list name with dot (.) and use tab

In [6]:
new_ages

NameError: name 'new_ages' is not defined

In [81]:
new_ages.append(['K','N','M'])
new_ages

['Karan', 12, 'B', 10, 'C', 15, True, False, 10.5, 'E', ['K', 'N', 'M']]

In [82]:
new_ages[10]

['K', 'N', 'M']

In [84]:
new_ages[10][0]

'K'

In [85]:
del new_ages[10]
new_ages

['Karan', 12, 'B', 10, 'C', 15, True, False, 10.5, 'E']

In [8]:
new_ages

NameError: name 'new_ages' is not defined

In [11]:
new_ages = ['A',12,'B',10,'C',15, True, False, 10.5]

In [12]:
new_ages

['A', 12, 'B', 10, 'C', 15, True, False, 10.5]

In [13]:
type(new_ages)

list

In [14]:
new_ages[0] = 10

In [15]:
new_ages

[10, 12, 'B', 10, 'C', 15, True, False, 10.5]

In [17]:
new_ages1 = new_ages.copy

In [18]:
new_ages

[10, 12, 'B', 10, 'C', 15, True, False, 10.5]

In [20]:
new_ages.count(10)

2

In [21]:
new_ages.extend([10,20,20,30])

In [22]:
new_ages

[10, 12, 'B', 10, 'C', 15, True, False, 10.5, 10, 20, 20, 30]

In [23]:
#del list name
# this will remove complete list

#clecr will help to clear the lst variable

In [24]:
a = 10
ages = [a,20,30]
ages

[10, 20, 30]

In [25]:
ages.index(2)

ValueError: 2 is not in list

In [26]:
ages

[10, 20, 30]

In [27]:
ages.index(1)

ValueError: 1 is not in list

In [28]:
ages.index(0)

ValueError: 0 is not in list

In [29]:
ages.insert(1) = 60

SyntaxError: can't assign to function call (<ipython-input-29-9906518cef94>, line 1)

In [31]:
new_ages

[10, 12, 'B', 10, 'C', 15, True, False, 10.5, 10, 20, 20, 30]

In [32]:
new_ages.index(2)

ValueError: 2 is not in list

In [33]:
new_ages.pop()

30

In [34]:
new_ages

[10, 12, 'B', 10, 'C', 15, True, False, 10.5, 10, 20, 20]

In [35]:
new_ages.pop(1)

12

In [36]:
new_ages

[10, 'B', 10, 'C', 15, True, False, 10.5, 10, 20, 20]

In [39]:
#to get the list of the commands use Dot and tab

new_ages.remove(10)

In [40]:
new_ages

['B', 10, 'C', 15, True, False, 10.5, 10, 20, 20]

In [43]:
new_ages.reverse()

In [44]:
new_ages

[20, 20, 10, 10.5, False, True, 15, 'C', 10, 'B']

In [45]:
new_ages.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [46]:
new_ages.pop(3)

10.5

In [47]:
new_ages

[False, True, 10, 15, 20, 20, 'C', 10, 'B']

In [48]:
new_ages.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
new_ages.remove('B')

In [51]:
new_ages

[False, True, 10, 15, 20, 20, 'C', 10]

In [52]:
new_ages.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [53]:
new_ages.remove('C')

In [54]:
new_ages.sort()

In [55]:
new_ages

[False, True, 10, 10, 15, 20, 20]

In [56]:
#List is mutable

In [68]:
#Tuple
ages = (12,235,45,'karan',10.5)

In [65]:
ages

(12, 235, 45, 'karan', 10.5)

In [67]:
#tuple is unmutable, we cannot change the values in the tuple
ages

(12, 235, 45, 'karan', 10.5)

In [69]:
ages

(12, 235, 45, 'karan', 10.5, 12)

In [70]:
ages.count(12)

2

In [71]:
ages.index(12)

0

In [73]:
tupple1 = (12,45,62,[112,56,80,90])

In [74]:
tupple1

(12, 45, 62, [112, 56, 80, 90])

In [76]:
tupple1[3][2] = 12

In [77]:
tupple1

(12, 45, 62, [112, 56, 12, 90])

In [83]:
list(tupple1)

[12, 45, 62, [112, 56, 12, 90]]

In [84]:
type(tupple1)

tuple