In [1]:
#Input and Output
#String operations
#loops
#Functions  - 50%
a = 10
print(a)

10

In [2]:
x=int(input('enter your age'))
print('your age is ',x)

enter your age32
your age is  32

In [9]:
#how to enter multiple values in the single line
a = input('Enter the 5 number').split(',')

Enter the 5 number10,12,45,56

In [10]:
print(a)

['10', '12', '45', '56']

In [11]:
a = [int(x) for x in input('enter 5 numbers').split(',')]

enter 5 numbers12,45,6,23

In [12]:
print(a)

[12, 45, 6, 23]

In [13]:
type(a)

list

In [15]:
a,b,c,d,e = [int(x) for x in input('enter the vallue').split(',')]
print('the sum is ', a+b+c+d+e)

enter the vallue10,20,30,40,50
the sum is  150

In [16]:
a = int(input('enter the value'))
b = int(input('enter the value'))
c = int(input('enter the value'))
d = int(input('enter the value'))
e = int(input('enter the value'))

x = a+b+c+d+e
print('the sum is ',x)

enter the value10
enter the value20
enter the value30
enter the value40
enter the value50
the sum is  150

In [22]:
#eval command to evalueate the data type
# by default data type is str
a,b,c,d,e = [eval(x) for x in input('enter the vallue').split(',')]
print(a,b,c,d,e)

enter the vallue'karna',True,10.3,20,36
karna True 10.3 20 36

In [23]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'int'>

In [24]:
a = eval(input('enter the value'))
b = eval(input('enter the value'))
c = eval(input('enter the value'))
d = eval(input('enter the value'))
e = eval(input('enter the value'))

x = a+b+c+d+e
print('the sum is ',x)

enter the value10
enter the value12
enter the value14
enter the value4
enter the value5
the sum is  45

In [25]:
#Outputs
print('hello')
print()
print('hello')

hello

hello

In [26]:
print('hello \n all')
print('hello \t all')

hello
 all
hello 	 all

In [30]:
#concatenate
print('karan' + ' ' + 'kumar')

karan kumar

In [33]:
#Form
a,b,c = 10, 20, 30
print('values are ', a,b,c)
print('values are ', a,b,c,sep='/') # you can use any seperator
print('values are ', a,b,c,sep=None)

values are  10 20 30
values are /10/20/30
values are  10 20 30

In [34]:
print('hello', end = ' ')
print('studnets', end = ' ')
print('welcome to the python world', end = ' ')

hello studnets welcome to the python world

In [35]:
print('hello')
print('studnets')
print('welcome to the python world')

hello
studnets
welcome to the python world

In [36]:
print(10,20,30,40, sep='-',end='------')

10-20-30-40------

In [41]:
list1 =[1,2,3,4]
tupple1 =(1,2,3,4)
set1 ={1,2,3,4}

print(list1, end = ' ')
print(tupple1, end = ' ')
print(set1, end = ' ')

[1, 2, 3, 4] (1, 2, 3, 4) {1, 2, 3, 4}

In [42]:
print(list1, sep ='+', end = ' ')
print(tupple1, sep ='+', end = ' ')
print(set1, sep ='+', end = ' ')

[1, 2, 3, 4] (1, 2, 3, 4) {1, 2, 3, 4}

In [45]:
print(list1, tupple1, set1, sep='/')

[1, 2, 3, 4]/(1, 2, 3, 4)/{1, 2, 3, 4}

In [47]:
a,b,c = 1.5,45,20
print('the value is', int(a))
print('the value is', float(a))

the value is 1
the value is 1.5

In [54]:
#Replacement operator
name = 'amit'
salar = '10000'
company = "Deloitte"

print('hello {}, your salary is {},  and compay name is {}'. format(name,salar,company))
print('hello {0}, your salary is {1},  and compay name is {2}'. format(name,salar,company))
print('hello {n}, your salary is {s},  and compay name is {c}'. format(n=name,s=salar,c=company))

hello amit, your salary is 10000,  and compay name is Deloitte
hello amit, your salary is 10000,  and compay name is Deloitte
hello amit, your salary is 10000,  and compay name is Deloitte

In [62]:
#If and else statement
#Conditional Statement
marks = 34
if marks>= 34:
    print('pass')
elif marks<34:
    print('fail')
else:
    print('fail')

pass

In [63]:
If condition:
    write # use tab before writing 
elif condition:
    write# use tab before writing 
else:
    write # use tab before writing

SyntaxError: invalid syntax (<ipython-input-63-528e23db8df3>, line 1)

In [67]:
x = eval(input('enter the number'))
y = eval(input('enter the number'))

if x>y:
    print('x is larger',x)
elif y>x:
    print('y is larger',y)
else:
    print('x is larger', x)

enter the number23
enter the number25
y is larger 25

In [68]:
#for loop
a = 'karan'
for i in a:
    print(i)

k
a
r
a
n

In [73]:
len(a)

5

In [77]:
count = 0
for x in a:
    count = count+1
    print(count)

1
2
3
4
5

In [78]:
count = 0
for x in a:
    count = count+1
print(count)

5

In [84]:
sales = [3433,3244,5343,3344]
profit = [432,432,345,345]

for i in range(0,len(sales)):
    x= profit[i]/sales[i]
    print('profit ratio is ', float(x) )
    i = i+1

profit ratio is  0.12583745994756773
profit ratio is  0.13316892725030827
profit ratio is  0.06457046603032005
profit ratio is  0.10316985645933015

In [87]:
#itterate the list
for (x,y) in zip(profit,sales):
    print(x/y)

0.12583745994756773
0.13316892725030827
0.06457046603032005
0.10316985645933015

In [89]:
#while loop

# while True:
#   print('hi')
c = 5
u = 0

while u<6:
    print('total coupon left are', c-u)
    u=u+1
print('No coupouns are left')

total coupon left are 5
total coupon left are 4
total coupon left are 3
total coupon left are 2
total coupon left are 1
total coupon left are 0
No coupouns are left

In [91]:
#Functions in python

# creating the function systax is 'def nameofthefunction():'
# write
# close the funtion

def greeting():
    print('good morning')
greeting()

good morning

In [96]:
def greeting(name = input('enter the name')):
    #this function help to greet the guest
    print('Hello ', name, 'good morning')
greeting()

enter the nameKaran
Hello  Karan good morning

In [99]:
def oddoreven(x=int(input('enter ther number'))):
    if x%2==0:
        print("Even number", x)
    else:
        print("Odd number", x)
oddoreven()

enter ther number15
Odd number 15

In [101]:
def leapyear(x=int(input('enter ther year'))):
    if x%4==0:
        print("Leap year", x)
    else:
        print("Not a leap year", x)
leapyear()

enter ther year2015
Not a leap year 2015

In [109]:
#to save the output use return command

def finan(rev,exp):
    profit = rev-exp
    proration = profit/rev
    return profit, proration
finan(1000,10)
x = finan(1000,10)
x

(990, 0.99)

In [113]:
type(x)

tuple

In [114]:
x

(990, 0.99)

In [115]:
def finan(rev,exp):
    profit = rev-exp
    proration = profit/rev
    return {'profit':profit, 'profit_ration':proration}
finan(1000,10)
x = finan(1000,10)
x

{'profit': 990, 'profit_ration': 0.99}

In [121]:
#types of argyements in the function
#1 positional arguments

def sum(a,b):
    print(a+b)
sum(10,23)

#2 keyword arguments

def greeting(name,msg):
    print('Hello', name, msg)
greeting(name='karan',msg='welcome')

#3 default arguments

def greeting(name='stud'):
    print('hello',name)
greeting()

33
Hello karan welcome
hello stud

In [122]:
sum(10,20,4,4,5,5)

10
30
34
38
43
48

In [135]:
#4 variable lenth arguments

#this is amazing argument give option to enter mutiple values
def sum(*a): # tuple
    result = 0
    for i in a:
    #    
        result = result+i
    print(a)
    print(result)

In [136]:
sum(10,20,10,50)

(10, 20, 10, 50)
90

In [137]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [139]:
#how to call function inside the function

def outer():
    print('this is outer function')
    def inner():
        print('this is inner funtion')
    inner()
outer()

this is outer function
this is inner funtion

In [140]:
#how to call the funtion
outer()

this is outer function
this is inner funtion

In [141]:
def square(n):
    return n*n
square(4)

16

In [142]:
#how to use lambda funtion
m1 = lambda n : n*n
m1(4)

16

In [143]:
s = lambda a,b : a+b
s(2,3)

5

In [144]:
s = lambda a, b : a if a>b else b
s(10,20)

20

In [ ]:
#String operation
#exception handling
#file handling
#regular expressions
#oops concept

#Data Science
#Statistics and Probability 
#Numpy
#Pandas
#Mataplotlin and seaborn
#EDA
#Data manipulation and data clearning
#Regression
#Classification
#D.R
#Clurstering
#Time series
#Reinforcement
#XGBoost
#Grid Search
#Association Rule
#Recommendation engine
# K fold Techinque

#Unbalanced data set - classification
#model deployment